<%- include("../partials/header") %>

<form action="/skills" method="post">
    <input type="text" name="skill">
    <button type="submit">Submit</button>
</form>

<%- include("../partials/footer") %>